@model Product

@{
    ViewData["Title"] = "ShowProduct";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
<div class="product">
    @if (Model.Image is not null)
        {
            <img src="data:image;base64,@Convert.ToBase64String(Model.Image)" alt="@Model.Name" height="350" weight="350"/>
            <br/>
        }
    Name: @Model.Name <br/>
    Description: @Model.Description <br/>
    Price: @Model.Price <br/>
    <span class="material-icons-outlined">visibility</span>
    <strong class="visual-count">@Model.VisitCount</strong>
    <br/>
    <a href="https://localhost:5001/Product/AddToCart/@Model.Id">
        <span class="material-icons">add</span> 
    </a>
    <strong font-size="32"> To Cart </strong>
</div>
