@model Product

@{
    ViewData["Title"] = "ShowProduct";
}

<link rel="stylesheet" href="~/css/show_product_style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
<div class="one-product">
    @if (Model.Image is not null)
    {
        <img src="data:image;base64,@Convert.ToBase64String(Model.Image)" alt="@Model.Name" height="350" weight="350"/>
        <br/>
    }
    Type: @Model.Type <br/>
    Name: @Model.Name <br/>
    Description: @Model.Description <br/>
    Price: @Model.Price <br/>
    <span class="material-icons-outlined">visibility</span>
    <bold class="visual-count">@Model.VisitCount</bold>
    <br/>
    <a href="https://localhost:5001/Product/AddToCart/@Model.Id">
        <span class="material-icons edit-buttons">
            add_shopping_cart
        </span>
    </a>
    
    <a href="https://localhost:5001/Product/EditProduct/@Model.Id">
        <span class="material-icons edit-buttons">
            mode_edit
        </span>
    </a>

    <a href="https://localhost:5001/Product/DeleteProduct/@Model.Id">
        <span class="material-icons edit-buttons">
            delete
        </span>
    </a>

</div>