@model IEnumerable<TradeLib.Models.Product>
@{
    ViewData["Title"] = "Products";
}
<table>
    @foreach (var product in Model)
    {
        <tr>
            <td><strong>Name: </strong>@product.Name</td>
            <td><strong>Email: </strong>@product.Type</td>
            <td><strong>Email: </strong>@product.Description</td>
            <td><strong>Email: </strong>@product.ImageUrl</td>
            <td><strong>Email: </strong>@product.Price</td>
        </tr>
    }
</table>